{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Startseite {% endblock %}

{% block style %}





{% endblock %}


{% block body %}

    <center> <h1> Geben sie hier ihre Daten ein </h1> </center>


{% endblock %}