{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Startseite {% endblock %}

{% block style %}

    h1 {
        display:flex;
        justify-content:center;
        text-decoration: underline;
    }




{% endblock %}


{% block body %}

    <h1> Welcome to our page </h1>


{% endblock %}