{% extends 'base.html.twig' %}

{% block title %}New Fahrtkosten{% endblock %}

{% block body %}
    <center> <h1> <u> Trage deine Fahrtkosten ein </u> </h1> </center>

    {{ include('fahrtkosten/_form.html.twig') }}

    <button id="oversight" onclick="window.open('{{ path('app_fahrtkosten_auth', {'id': fahrtkosten.id}) }}','_self')"> Zurück zur Übersicht </button>

    <script>
        // ajust the date label to fit better
        const all_label = document.querySelectorAll(".required");
        const date_label = all_label[3];
        const date_label_new_position = document.getElementById("fahrtkosten_Datum_Reise");

        //date_label.innerHTML = "Datum der Reise :";
        date_label.remove();
        // add it before the selecction
        date_label_new_position.prepend("Datum Fahrt");


         const form = document.getElementsByName("fahrtkosten")[0];
         const oversight_btn = document.getElementById('oversight');

         form.appendChild(oversight_btn);

        // user shouldnt be able to edit this => unable to remove unless you wanna remove it everywhere
         const already_paid = document.getElementById("fahrtkosten").childNodes[7];

         already_paid.remove();




        // functions
        function addElement(element_to_add,attribute,attribute_value, source_to_attend) {
            let element = document.createElement(element_to_add);
            element.setAttribute(attribute, attribute_value);
            source_to_attend.append(element);
        }

        function addAttributetoElement(selected_element_by_id, attribute,attribute_value) {
            let select = document.getElementById(selected_element_by_id);
            select.setAttribute(attribute, attribute_value);
        }

        function removeAttribute(selected_element_by_id, attribute_to_remove) {
            document.getElementById(selected_element_by_id).removeAttribute(attribute_to_remove);
        }


        function addStyletoElement(selected_element_by_id, style) {
            let select = document.getElementById(selected_element_by_id);
            select.setAttribute("style", style);
        }
        function getRandomArrayElement(array) {
            let random_num = Math.floor(Math.random() * array.length);
            return array[random_num];
        }

        function addInputtoElement(selected_element_by_id, text_to_add) {
            let select = document.getElementById(selected_element_by_id);
            let content = document.createTextNode(text_to_add);
            select.appendChild(content);
        }

    </script>

{% endblock %}
