{% extends 'base.html.twig' %}

{% block title %}Fahrtkosten index{% endblock %}

{% block body %}
    <center> <h1> Bitte log dich ein um die Tabelle einsehen zu können </h1> </center>
    <center>
    <main id="Log_in_Box">
        <div>
        <label for="username"> Name: </label>
        <input id="username">
        </div>

        <div>
            <label for="password"> Passwort: </label>
            <input id="password">
        </div>

        <div>
            <button id="login"> Einloggen </button>

        </div>
    </main>
    </center>


    <script>

        const login_btn = document.getElementById("login");



        login_btn.addEventListener("click", login);



        console.log(localStorage.getItem("admin"));


            // functions

            // Here the name and password are set in "name" and "password"
            function login() {
                let name = "Team23";
                let password = "Fahrtkostenabrechnung460";

                let name_input = document.getElementById("username").value;
                let password_input = document.getElementById("password").value;

                if (name === name_input && password === password_input) {
                    window.open('{{ path('app_fahrtkosten_index') }}','_self')
                } else {
                    let box = document.getElementById("Log_in_Box");
                    addElement("p", "id", "error", box)
                    addInputtoElement("error", "Name und/oder Passwort falsch")

                    setTimeout(function (){
                        document.getElementById("error").remove();
                    },1500);

                }

            }







            function addElement(element_to_add,attribute,attribute_value, source_to_attend) {
            let element = document.createElement(element_to_add);
            element.setAttribute(attribute, attribute_value);
            source_to_attend.append(element);
        }

        function addAttributetoElement(selected_element_by_id, attribute,attribute_value) {
            let select = document.getElementById(selected_element_by_id);
            select.setAttribute(attribute, attribute_value);
        }

        function removeAttribute(selected_element_by_id, attribute_to_remove) {
            document.getElementById(selected_element_by_id).removeAttribute(attribute_to_remove);
        }


        function addStyletoElement(selected_element_by_id, style) {
            let select = document.getElementById(selected_element_by_id);
            select.setAttribute("style", style);
        }
        function getRandomArrayElement(array) {
            let random_num = Math.floor(Math.random() * array.length);
            return array[random_num];
        }

        function addInputtoElement(selected_element_by_id, text_to_add) {
            let select = document.getElementById(selected_element_by_id);
            let content = document.createTextNode(text_to_add);
            select.appendChild(content);
        }
    </script>

{% endblock %}